1)Комунальне некомерційне підприємство "Сімейна поліклініка" Чернігівської міської ради
Телефони:
462941720
ЧЕРНІГІВСЬКА область, місто ЧЕРНІГІВ, вулиця Пирогова, 15
2)3 поліклінічне відділення
Телефони:
462612103
ЧЕРНІГІВСЬКА область, місто ЧЕРНІГІВ, проспект Миру, 44
3)Відділення по наданню первинної медичної допомоги населенню
Телефони:
462644662
ЧЕРНІГІВСЬКА область, місто ЧЕРНІГІВ, вулиця Красносільського, 73а
4)Відділення по наданню первинної медичної допомоги населенню
Телефони:
050-527-24-96
ЧЕРНІГІВСЬКА область, місто ЧЕРНІГІВ, вулиця Гагаріна, 6